.App {
  text-align: center;
}

.Title {
  font-family: 'HyliaSerif', serif;
  font-size: 3rem;
  font-weight: normal;
  text-align: center;
  margin: 20px 0;
  color: #f8b500;
}

.Title:hover {
  background: linear-gradient(90deg, #fceabb, #f8b500, #fceabb);
  background-size: 200% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shimmer 3s linear infinite;
  transition: transform 0.3s ease, text-shadow 0.3s ease;
}

@keyframes shimmer {
  0% { background-position: 200% 0; }
  100% { background-position: -200% 0; }
}

/* body {
  background-image: url('https://i.redd.it/heres-the-tears-of-the-kingdom-background-as-a-desktop-v0-76ir9l73a1ua1.png?width=1920&format=png&auto=webp&s=7a29715641d91d0d63964ce90cccfc2001a15eea');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
} */

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

@font-face {
  font-family: 'HyliaSerif';
  src: url('./fonts/HyliaSerifBeta-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}